# Git 忽略文件

# Rust
#--------------------------------------------------------------------------------
/target/

# Node.js
#--------------------------------------------------------------------------------
/front/node_modules/
/front/dist/
/front/.vite/
/front/yarn.lock
/front/pnpm-lock.yaml

# Visual Studio Code
#--------------------------------------------------------------------------------
.vscode/

# IDE/OS files
#--------------------------------------------------------------------------------
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log